doctype html
html(lang="en")
    head
        title Devon's JavaScript Playground
    body
        header
            h1 Devon's Playground
            h4 don't expect anything to work properly ... it's all an experiment
        section#content
            p some stuff to be included here.
        footer 
            p copyright Devon Stanton 2018

