doctype html
html(lang="en")
    head
        title Devon's JavaScript Playground
    body
        header
            h1 Devon's Playground
            h4 don't expect anything to work properly ... it's all an experiment
        block menu
            a(href='report/view') Reports
        block content
            p default content 
        block footer
            p copyright Devon Stanton